body{
    background-color: rgb(126, 168, 206);
}
menu{
    background-color: #260d61;
    padding: 0;
    text-align: center;
    display: flex;
    justify-content: center;
    gap: 60px;
    position: relative;
    width:100%;
    z-index:1000;
    margin: 0;
}
.fixed{
    position: fixed;
    top: 0px;
    left: 0;
    right: 0;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 1);
    

}
.menu-item{
    color:burlywood;
    text-decoration:none;
    padding: 10px 20px;
    font-size: 18px;
    display: inline-block;
}
#telainicial{
    margin-bottom: 0;
}
.menu-item:hover{
    color: #f1f1f19c;
    background-color:rgb(0, 0, 0);
    border-radius: 8px;
    padding: 15px 25px;
}
#cards{
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 1rem;
    

}
/*o design abaixo refere-se á estilização da tabela, porém devido as estilizações de seus elementos thead e tbody ela acabou ficando obsoleta n aparece na pagina*/
table{
    border: 1px solid ;/*Cria uma borda de 1px de altura e dashed éw borda do tipo pontilhada*/
    border-color: #260d61;/*Aplica uma cor á borda*/
}
thead{ /* Estiliçao do cabeçalho- 1@ linha da tabela*/
    background-color: #260d61;/*largura da celula*/
    color: #f1f1f1;/*alinhamento horiizontal do texto*/
    height: 15px;/*alinhamento vertical do texto*/

}
th{/*Estiliza cada celula do cabeçalho*/
    width: 150px;
    text-align: center;
    align-items:center ;
    border: #f1f1f1 solid'                  ;
}
tbody{/*estiliza p corpo da tabela - todas as linhas exceto a primeiro*/
    background-color:#486ea8d2 ;
}

td{/*Estiliza cada celula do corpo da tabela*/
    text-align: center;
    border: darkgray;
}
.caixa1{
    padding:15px;
    background-color: #486ea8d2;
    margin: 30px;
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 1rem;
}